<h4>Who Am I?</h4>
<p>My name is Omar Ilias EL MIMOUNI. No, Ilias is not my middle name, I have two first names. You think that's annoying? Well,
    try to pay online without knowing whether your bank used your "second" firstname as a middle name or not. Long story
    short, my father wanted Omar, my mother preferred Ilias, they couldn't agree, and.. you know the rest.
    <br>I am a network and telecommncations engineer by degree. I graduated from Mohammedia School of Engineering, in Rabat,
    Morocco, in 2015.
    <br>I have a passion for programming and building software.
</p>
<br>
<div>
    <img src="{{ " /images/about-me.jpg " | prepend: site.baseurl }}" height="auto" width="100%" alt="me" />
</div>

<br>
<h4>What Do I Do?</h4>
<p>I am currently a guest researcher at the National Institute of Standards and Technology (NIST). I work with the Advanced
    Network Technologies Division (ANTD). I build, configure, and troubleshoot networks, I discover new networking architecures,
    I design protocols and APIs, and I write code.</p>
<br>

<h4>What Are My Interests?</h4>
<p>My interests include, but not limited to, Network Measurement, High Performance Computing, Internet of Things, Cloud/Fog
    Computing, Software-Defined Networking, Distributed Systems, Artificial Intelligence, Blockchain, Software Design and
    Architecture.
    <br>Well, these are mainly the topics I'm subscribed to on different platforms such as Google, LinkedIn, Medium, and Curiosity.</p>
<br>

<h4>What Programming Language I like?</h4>
<p>I've worked with a bunch of programming languages so far, and I liked most of them. I learned C fundamentals at school. Java
    was my first Object-Oriented Language, also at school where I did some Android developement. I discovered Golang (Google's
    programming languages) recently and I fell in love with its simplicity and efficiency. If you're into computer networks,
    then you are forced to know Python, which is very present in the networking world. I also worked with JavaScript for
    building a full-stack web application for network management. And last couple years, I wrote some code in C++, and a
    client library in for a protocol we designed and built.
    <br>
</p>

<br>
<h4>Any Extracurrucular Interests?</h4>
<p>I am a member of the American Pool Association (APA), and I play pool weekly on Thursday night. I am a member of the Manufacturing
    Engineering Laboratory (MEL) tennis team at NIST. I play soccer on and off throughout the year, with NIST colleagues
    and outside of NIST, with the Germantown soccer league.
    <br>Yes, I am very active.
    <i class="fa fa-smile-o" aria-hidden="true"></i>
    <br>
</p>
<br>
<div>
    <img src="{{ " /images/playing-tennis.jpg " | prepend: site.baseurl }}" height="auto" width="100%" alt="me" />
</div>